{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/aboutUs.css') }}">{% endblock %}
{% block title %}About Us | CourseFinity{% endblock %}

{% block content %}
<a id="topbutton"><i class="fas fa-chevron-up"></i></a> <!-- go to top button -->
<ul class="breadcrumb">
	<li>
		<a href="home.html">Home</a>
	</li>
	<li>About Us</li>
</ul>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<img src="../static/images/aboutus_image/About.jpg" alt="">
		</div>
		<div class="col-lg-6">
			<h2>An Introduction To The Website</h2>
			<p>Lorem Ipsum</p>
		</div>
		<div class="col-lg-6">
			<h2>Our Vision</h2>
			<p>Lorem Ipsum</p>
		</div>
		<div class="col-lg-6">
			<img src="../static/images/aboutus_image/Vision.jpg" alt="">
		</div>
		<div class="col-lg-6">
			<img src="../static/images/aboutus_image/Mission.jpg" alt="">
		</div>
		<div class="col-lg-6">
			<h2>Our Mission</h2>
			<p>Lorem Ipsum</p>
		</div>
	</div>
</div>
<div class="quote" style="background-color: #75CFFD ; padding: 50px; border: 1px solid #A375FD;">
	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit"</p>
	<p>- Eden Pang, Competitive Programmer</p>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/go_to_top.js') }}"></script>
{% endblock %}