{% if accType == "Guest" %}
{% extends "guest_base.html" %}
{% elif accType == "Student" or accType == "Teacher"%}
{% extends "user_base.html" %}
{% elif accType == "Admin" %}
{% extends "admin_base.html" %}
{% endif %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/about_us.css') }}">{% endblock %}
{% block title %}About Us | CourseFinity{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li>
		<a href="/">Home</a>
	</li>
	<li>About Us</li>
</ul>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<img src="../static/images/about_us/About.jpg" alt="">
		</div>
		<div class="col-lg-6">
			<h2>An Introduction To The Website</h2>
			<p>Our website has a variety of courses that can range from Academics to Technological courses.</p>
		</div>
		<div class="col-lg-6">
			<h2>Our Vision</h2>
			<p>Lorem Ipsum</p>
		</div>
		<div class="col-lg-6">
			<img src="../static/images/about_us/Vision.jpg" alt="">
		</div>
		<div class="col-lg-6">
			<img src="../static/images/about_us/Mission.jpg" alt="">
		</div>
		<div class="col-lg-6">
			<h2>Our Mission</h2>
			<p>Lorem Ipsum</p>
		</div>
	</div>
</div>
<div class="quote" style="background-color: #75CFFD ; padding: 50px; border: 1px solid #A375FD;">
	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit"</p>
	<p>- Eden Pang, Competitive Programmer</p>
</div>
{% endblock %}