{% if accType == "Guest" %}
{% extends "guest_base.html" %}
{% elif accType == "Student" or accType == "Teacher"%}
{% extends "user_base.html" %}
{% elif accType == "Admin" %}
{% extends "admin_base.html" %}
{% endif %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/course_page.css') }}">
{% endblock %}

{% block title %}{{ course.get_title() }} | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher_page/{{ course.get_userID() }}">{{ courseTeacherUsername }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ course.get_title() }}</li>
        </ol>
    </nav>
    <div class="table-responsive-lg">
        <table class="table table-borderless">
            <tr>
                <td class="td_cells_min_width">
                    <div class="row page_wrapper">
                        <div class="col-8 no_padding">
                            <div class="course_info_left">
                                <h3>{{ course.get_title() }}</h3>
                                <p><span class="fw-bold">Course Detail:</span> {{ course.get_description() }}</p>
                                <h6>By <a href="/teacher_page/{{ course.get_userID() }}">{{ courseTeacherUsername }}</a></h6>
                            </div>
                            <div>
                                <h5 class="course_structure_title">Course Structure:</h5>
                                {% if lessonsCount >= 1 %}
                                    {% if course.get_course_type() == "video" %}
                                        {% for lesson in lessons %}
                                        <div class="card mb-3 course_card">
                                            <div class="row g-0">
                                                <div class="col-4">
                                                    <img src="{{ lesson.get_thumbnail() }}" class="img-fluid rounded-start" alt="Lesson Thumbnail">
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ lesson.get_title() }}</h5>
                                                        <p class="card-text">{{ lesson.get_description() }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% elif course.get_course_type() == "zoom" %}
                                        {% for lesson in lessons %}
                                        <div class="card mb-3 course_card">
                                            <div class="row g-0">
                                                <div class="col-4">
                                                    <img src="{{ lesson.get_thumbnail() }}" class="img-fluid rounded-start" alt="Lesson Thumbnail">
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ lesson.get_title() }}</h5>
                                                        <p class="card-text">{{ lesson.get_description() }}</p>
                                                        {% if userPurchased == True %}
                                                        <p><span class="fw-bold">Zoom Link:</span> {{ zoomLesson.get_zoom_link() }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                <div class="card mb-3 course_card">
                                    <div class="row g-0">
                                        <div class="col-4">
                                            <img src="/static/images/courses/placeholder.jpg" class="img-fluid rounded-start" alt="Lesson Thumbnail">
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Sorry the course has no lessons</h5>
                                                <p class="card-text">The teacher of this course have yet to upload any videos. Please stay tuned.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-4 course_info_wrapper no_padding columns">
                            <img src="{{ course.get_thumbnail() }}" class="card-img-top" alt="{{ course.get_shortTitle() }} Thumbnail">
                            <div class="card-body">
                                <p class="card-text"><span class="fw-bold">Price:</span> ${{ course.get_price() }}</p>
                                <p class="card-text"><span class="fw-bold">Learning Style:</span> {{ course.get_course_type() }}</p>
                                <p class="card-text"><span class="fw-bold">No of lessons:</span> {{ lessonsCount }}</p> 
                                <p class="card-text"><span class="fw-bold">Overall Rating:</span>
                                    {% if course.get_averageRating() == 5 %}
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    {% elif course.get_averageRating() >= 4 and course.get_averageRating() < 5 %}
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    {% elif course.get_averageRating() >= 3 and course.get_averageRating() < 4 %}
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span> 
                                    {% elif course.get_averageRating() >= 2 and course.get_averageRating() < 3 %}
                                    <span class="fas fa-star ratings"></span>
                                    <span class="fas fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    {% elif course.get_averageRating() >= 1 and course.get_averageRating() < 2 %}
                                    <span class="fas fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    {% elif course.get_averageRating() >= 0 and course.get_averageRating() < 1 %}
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    <span class="far fa-star ratings"></span>
                                    {% endif %}
                                </p>
                                <p class="card-text"><span class="fw-bold">Category:</span> {{ course.get_readable_tag() }}</p>
                                <p class="card-text"><span class="fw-bold">Views:</span> {{ course.get_views() }}</p>
                                {% if accType=="Guest" %}
                                <form action="/login" method="GET">
                                    <button type="submit" class="btn btn-success course_buy_button"><i class="fas fa-shopping-cart fa-lg"></i> Add to Cart</button>
                                </form>
                                {% elif accType=="Admin" %}
                                <button type="button" class="btn btn-success course_buy_button">Admin cannot add to cart!</button>
                                {% else %}
                                <form action="/add_to_cart/{{ course.get_courseID() }}" method="POST">
                                    <button type="submit" class="btn btn-success course_buy_button"><i class="fas fa-shopping-cart fa-lg"></i> Add to Cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>User Reviews</h3>
        <div class="table-responsive-lg">
            <table class="table table-borderless">
                {% if reviewsCount >= 1 %}
                    {% for review, userInfo in reviews.items() %}
                    <tr>
                        <td class="td_cells_min_width_reviews">
                            <div class="card mb-3 course_card">
                                <div class="row g-0">
                                    <div class="col-2">
                                        <img src="{{ userInfo[1] }}" class="img-fluid user_profile" alt="User's profile image">
                                    </div>
                                    <div class="col-10">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ review.get_title() }}</h5>
                                            <p class="card-text">{{ review.get_comment() }}</p>
                                            <div class="ratings float-end">
                                                {% if review.get_rating() == 5 %}
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                {% elif review.get_rating() >= 4 and review.get_rating() < 5 %}
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="far fa-star"></span>
                                                {% elif review.get_rating() >= 3 and review.get_rating() < 4 %}
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span> 
                                                {% elif review.get_rating() >= 2 and review.get_rating() < 3 %}
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                {% elif review.get_rating() >= 1 and review.get_rating() < 2 %}
                                                <span class="fas fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                {% elif review.get_rating() >= 0 and review.get_rating() < 1 %}
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                {% endif %}
                                            </div>
                                            <small class="text-muted">Reviewed by {{ userInfo[0] }} at {{ review.get_review_time() }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="td_cells_min_width_reviews">
                            <div class="mb-3">
                                <div class="row g-0">
                                    <div class="col-12">
                                        <h5>This course do not have any reviews yet.</h5>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
        {% if reviewsCount > 5 %}
            <a href="/course/{{ course.get_courseID() }}/reviews/page_1" class="float-end">See all reviews...</a>
        {% endif %}
    </div>
</div>
{% endblock %}