{% extends "user_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/course_page.css') }}">
{% endblock %}

{% block title %}Course | CourseFinity{% endblock %}

{% block content %}
    <!-- content -->
    <div class="content">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Teacher Name</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ course.get_title }}</li>
                </ol>
            </nav>
            {% for lesson in lessons %}
            <div class="table-responsive-lg">
                <table class="table table-borderless">
                    <tr>
                        <td class="td_cells_min_width">
                            <div class="row page_wrapper">
                                <div class="col-8 no_padding">
                                    <div class="course_info_left">
                                        <h3>{{ course.get_title() }}</h3>
                                        <p><span class="fw-bold">Course Detail:</span> {{ course.get_description() }}</p>
                                        <h6>By <a href="#"><!-- Link for teacher's page here, Represented by Techer's name --></a></h6>
                                    </div>
                                    <div>
                                        <h5 class="course_structure_title">Course Structure:</h5>
                                        <!-- Check if Couse is Video or Zoom -->
                                        <!-- If video, generate videos -->
                                        {% if course.get_course_type() == "video" %}
                                        {% for lesson in lessons %}
                                        <div class="card mb-3 course_card">
                                            <div class="row g-0">
                                                <div class="col-4">
                                                    <img src="{{ lesson.get_thumbnail() }}" class="img-fluid rounded-start" alt="Lesson Thumbnail">
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ lesson.get_title() }}</h5>
                                                        <p class="card-text">{{ lesson.get_description() }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% elif course.get_course_type() == "zoom" %}
                                        <div class="card mb-3 course_card">
                                            <div class="row g-0">
                                                <div class="col-4">
                                                    <img src="{{ lesson.get_thumbnail() }}" class="img-fluid rounded-start" alt="Lesson Thumbnail">
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ lesson.get_title() }}</h5>
                                                        <p class="card-text">{{ lesson.get_description() }}</p>
                                                        {% if userPurchased == True %}
                                                        <p><span class="fw-bold">Zoom Link:</span> {{ zoomLesson.get_zoom_link() }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                                <div class="col-4 course_info_wrapper no_padding columns">
                                    <!-- Get Video Thumbnail-->
                                    {{ render_field(form.courseThumbnail, class="form-control", value=courseThumbnail) }}
                                    <img src=""
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text"><span class="fw-bold">Price:</span>{{ render_field(form.coursePrice, class="form-control", value=coursePrice) }}</p>
                                        <p class="card-text"><span class="fw-bold">Learning Style:</span>{{ render_field(form.courseType, class="form-control", value=courseType) }}</p>
                                        <!-- Check if Course type is Zoom or Video-->
                                            <p class="card-text"><span class="fw-bold">No of Videos:</span><!-- Get count of Videos --></p> 
                                        <p class="card-text"><span class="fw-bold">Overall Rating:</span>
                                            <span class="fas fa-star ratings"></span>
                                            <span class="fas fa-star ratings"></span>
                                            <span class="fas fa-star ratings"></span>
                                            <span class="fas fa-star ratings"></span>
                                            <!-- empty star below -->
                                            <span class="far fa-star ratings"></span>
                                        </p>
                                        <p class="card-text"><span class="fw-bold">Category:</span><!-- Get Course category--></p>
                                        <button type="button" class="btn btn-success course_buy_button">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            <div>
                <h3>User Reviews</h3>
                <div class="table-responsive-lg">
                    <table class="table table-borderless">
                        <tr>
                            <td class="td_cells_min_width_reviews">
                                <div class="card mb-3 course_card">
                                    <div class="row g-0">
                                        <div class="col-2">
                                            <!-- Get User Profile Pic-->
                                            <img src="../static/images/courses/course_profile.png"
                                                class="img-fluid rounded-start user_profile" alt="User's profile image">
                                        </div>
                                        <div class="col-10">
                                            <div class="card-body">
                                                <h5 class="card-title"><!-- Get review title --></h5>
                                                <p class="card-text"><!-- Get reviw description --></p>
                                                <div class="ratings float-end">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <!-- empty star below -->
                                                    <span class="far fa-star"></span>
                                                </div>
                                                <small class="text-muted"><!-- Get Reviewer, date & time of review -->Reviewed by Edan at 29/1/2022, 00:00</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="#" class="float-end">See all reviews...</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}