{% if accType == "Guest" %}
{% extends "guest_base.html" %}
{% elif accType == "Student" or accType == "Teacher"%}
{% extends "user_base.html" %}
{% elif accType == "Admin" %}
{% extends "admin_base.html" %}
{% endif %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">{% endblock %}
{% block title %}Explore Category | CourseFinity{% endblock %}


{% block content %}
<div class="container">
    <h2>Found {{noOfCourse}} courses related to {{tag}}</h2>
    {% if checker == False %}
    <div>
        <h4 style="text-align:center;margin-bottom:50px;opacity:0.5;">No courses with that tag</h4>
    </div>
    {% else %}
        {% for searchInformation in searchfound %}
        <div class="row g-0 casing mx-auto">
            <div class="col-4">
                <img class="resize img-fluid rounded float-start" src="{{ searchInformation['Thumbnail']}}" alt="">
            </div>
            <div class="col-8">
                <div class="card-body text">
                    <h5 class="card-title">{{ searchInformation["Title"] }}</h5>
                    <p class="card-text">{{ searchInformation["Description"] }}</p>
                </div>
                <div class="card-body">
                    <div class="row g-0">
                        <div class="selection col">
                            <a href="{{ link }}" class="view">{{ searchInformation["Owner"] }}</a>
                            <p class="card-text"><span class="fw-bold">Overall Rating:</span>
                                {% if course.get_averageRating() == 5 %}
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                {% elif course.get_averageRating() >= 4 and course.get_averageRating() < 5 %}
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                {% elif course.get_averageRating() >= 3 and course.get_averageRating() < 4 %}
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span> 
                                {% elif course.get_averageRating() >= 2 and course.get_averageRating() < 3 %}
                                <span class="fas fa-star ratings"></span>
                                <span class="fas fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                {% elif course.get_averageRating() >= 1 and course.get_averageRating() < 2 %}
                                <span class="fas fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                {% elif course.get_averageRating() >= 0 and course.get_averageRating() < 1 %}
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                <span class="far fa-star ratings"></span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}