{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">{% endblock %}
{% block title %}Search | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <h2>You Searched For "{{ searchInput }}"</h2>

    {% for courseID in purchaseHistoryList %}
    <div class="row no-gutters layer-2">
        <div class="col-4">
            <!--Placeholders-->
        </div>
        <div class="col-8">
            <div class="card-body text">
                <p class="card-text">{{ courseList[index].get_shortDescription() }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="selection col">
                        {% if info == "Video" %}
                        <p class="info">Online Videos</p>
                        <a href="{{ link }}" class="view">View Recording</a>
                        {% elif info == "Zoom" %}
                        <p class="info">Zoom Session</p>
                        <a href="{{ link }}" class="view">View Zoom Link</a>
                        {% else %}	<!--Zoom not specified.-->
                            {% if courseList[index].get_videoCondition() == False %}
                            <p class="unavailable" onload="unavailable()">Video Recording<br></p>
                            {% elif courseTypeList[index] == "Video" or courseTypeList[index] == "Both" %}
                            <a href="{{ link_vid }}" class="selected">Video Recording</a>
                            {% elif courseTypeList[index] != "Video" and courseTypeList[index] != "Both" %}
                            <a href="{{ link_vid }}" class="unselected">Video Recording</a>
                            {% endif %}

                            {% if courseList[index].get_zoomCondition() == False %}
                            <p class="unavailable" onload="unavailable()">Live Zoom<br></p>
                            {% elif courseTypeList[index] == "Zoom" or courseTypeList[index] == "Both" %}
                            <a href="{{ link_zoom }}" class="selected">Live Zoom</a>
                            {% elif courseTypeList[index] != "Zoom" and courseTypeList[index] != "Both" %}
                            <a href="{{ link_zoom }}" class="unselected">Live Zoom</a>
                            {% endif %}

                        {% endif %}
                    </div>
                    <div class="information col">
                        <!--Placeholders-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if maxPages > 5 %}
    <nav aria-label="Page navigation">
        <ul class="pagination flex-wrap">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/1" aria-label="First Page">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First Page</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ previousPage }}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for key in paginationList %}
                {% if key == pageNum %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ nextPage }}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/{{ maxPages }}" aria-label="Last Page">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last Page</span>
                </a>
            </li>
        </ul>
    </nav>
    {% elif maxPages == 0 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/0" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/0">0</a></li>
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/0" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% elif maxPages <= 5 %}
    <nav aria-label="Page navigation">
        <ul class="pagination flex-wrap">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/1" aria-label="First Page">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First Page</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ previousPage }}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for key in paginationList %}
                {% if key == pageNum %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ nextPage }}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/{{ maxPages }}" aria-label="Last Page">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last Page</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

  </div>
{% endblock %}