databases/user.bak
databases/user.dat
databases/user.dir
databases/admin.bak
databases/admin.dat
databases/admin.dir
test.py
testflask.py
UIDCollisionTest.py
venv/*
__pycache__/*.pyc
python_files/__pycache__/*.pyc
static/images/qrcode/*.png
static/images/user/**
test.html
