{% extends "admin_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}User Management | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if invalidEmail %}
<div class="modal fade" id="invalidEmailModal" tabindex="-1" aria-labelledby="invalidEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="invalidEmailModalLabel">User Account Recovery Failed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Inputted user's new email is invalid, please try again.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">Admin Dashboard</span></h4>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white">
                            Account Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user_management" class="nav-link text-white active-custom">
                            User Management
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <h6>There are {{ count }} users in CourseFinity.</h6>
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tr>
                                    <td>User ID</td>
                                    <td>Username</td>
                                    <td>Account Type</td>
                                    <td>Email</td>
                                    <td>Status</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for user in userList %}
                                    <tr>
                                        <td>{{ user.get_user_id() }}</td>
                                        <td class="text-truncate table_text">{{ user.get_username() }}</td>
                                        <td>{{ user.get_acc_type() }}</td>
                                        <td class="text-truncate table_text">{{ user.get_email() }}</td>
                                        <td>{{ user.get_status() }}</td>
                                        <td>
                                            <form action="" method="POST">
                                                <div class="modal fade" id="recoverAccountModal{{ user.get_user_id() }}" tabindex="-1" aria-labelledby="recoverAccountModalLabel{{ user.get_user_id() }}" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="recoverAccountModalLabel{{ user.get_user_id() }}">Recover User's Account</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6>
                                                                    Are you sure that you want to reset {{ user.get_username() }}'s password and email with the ID, {{ user.get_user_id() }} for account recovery?
                                                                </h6>
                                                                <h6>If so, please enter the user's new email (that the user has control of) and a password in the form below.</h6>
                                                                <input type="hidden" id="userID" name="userID" value="{{ user.get_user_id() }}">
                                                                {{ render_field(form.email, class="form-control") }}
                                                                {{ render_field(form.password, class="form-control") }}
                                                                <h6 class="text-success">Note: A follow up email with instructions will be sent to the user.</h6>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-success">Confirm</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            {% if user.get_status() == "Good" %}
                                            <form action="/ban/uid/{{ user.get_user_id() }}" method="POST">
                                                <div class="modal fade" id="banUserModal{{ user.get_user_id() }}" tabindex="-1" aria-labelledby="banUserModalLabel{{ user.get_user_id() }}" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="banUserModalLabel{{ user.get_user_id() }}">Ban User</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6>Are you sure that you want to ban {{ user.get_username() }} with the ID, {{ user.get_user_id() }}?</h6>
                                                                <h6>If you are sure that this user has violated the <a href="/community_guidelines" target="_blank">community guidelines</a> or the <a href="/teacher_handbook" target="_blank">teacher's handbook</a> rules, you are permitted to ban this user.</h6>
                                                                <h6>Otherwise, please refrain from banning users for no valid reasons.</h6>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-danger">Ban</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="actionsButtons" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="actionsButtons">
                                                    <li><a href="javascript:void(0)" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#banUserModal{{ user.get_user_id() }}">Ban</a></li>
                                                    <li><a href="javascript:void(0)" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#recoverAccountModal{{ user.get_user_id() }}">Recover Account</a></li>
                                                </ul>
                                            </div>
                                            {% elif user.get_status() == "Banned" %}
                                            <form action="/unban/uid/{{ user.get_user_id() }}" method="POST">
                                                <div class="modal fade" id="unbanUserModal{{ user.get_user_id() }}" tabindex="-1" aria-labelledby="unbanUserModalLabel{{ user.get_user_id() }}" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="unbanUserModalLabel{{ user.get_user_id() }}">Unban User</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6>Are you sure that you want to unban {{ user.get_username() }} with the ID, {{ user.get_user_id() }}?</h6>
                                                                <h6>If you are sure that this user did not violate the <a href="/community_guidelines" target="_blank">community guidelines</a> or the <a href="/teacher_handbook" target="_blank">teacher's handbook</a> rules but was banned by mistake after looking through the user's ban appeal application, you are permitted to unban this user.</h6>
                                                                <h6>Otherwise, please refrain from unbanning users without valid reasonings.</h6>
                                                                <h6 class="text-success">Note: A follow up email will be sent automatically.</h6>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-success">Unban</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="actionsButtons" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="actionsButtons">
                                                    <li><a href="javascript:void(0)" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#unbanUserModal{{ user.get_user_id() }}">Unban</a></li>
                                                    <li><a href="javascript:void(0)" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#recoverAccountModal{{ user.get_user_id() }}">Recover Account</a></li>
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form action="/delete_user/uid/{{ user.get_user_id() }}" method="POST">
                                                <div class="modal fade" id="deleteUserModal{{ user.get_user_id() }}" tabindex="-1" aria-labelledby="deleteUserModalLabel{{ user.get_user_id() }}" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteUserModalLabel{{ user.get_user_id() }}">Delete User</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6>Are you sure that you want to delete this user with the ID, {{ user.get_user_id() }}?</h6>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-danger">Delete User</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal{{ user.get_user_id() }}">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if maxPages > 5 %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination flex-wrap">
                                <li class="page-item ms-auto">
                                    <a class="page-link" href="/user_management/page/1" aria-label="First Page">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">First Page</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/user_management/page/{{ previousPage }}" aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% for key in paginationList %}
                                    {% if key == pageNum %}
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="/user_management/page/{{ key }}">{{ key }}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="/user_management/page/{{ key }}">{{ key }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="page-item">
                                    <a class="page-link" href="/user_management/page/{{ nextPage }}" aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <li class="page-item me-auto">
                                    <a class="page-link" href="/user_management/page/{{ maxPages }}" aria-label="Last Page">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Last Page</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        {% elif maxPages == 0 %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination flex-wrap">
                                <li class="page-item ms-auto">
                                    <a class="page-link" href="/user_management/page/0" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active" aria-current="page"><a class="page-link" href="/user_management/page/0">0</a></li>
                                <li class="page-item me-auto">
                                    <a class="page-link" href="/user_management/page/0" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        {% elif maxPages <= 5 %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination flex-wrap">
                                <li class="page-item ms-auto">
                                    <a class="page-link" href="/user_management/page/1" aria-label="First Page">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">First Page</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/user_management/page/{{ previousPage }}" aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% for key in paginationList %}
                                    {% if key == pageNum %}
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="/user_management/page/{{ key }}">{{ key }}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="/user_management/page/{{ key }}">{{ key }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="page-item">
                                    <a class="page-link" href="/user_management/page/{{ nextPage }}" aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <li class="page-item me-auto">
                                    <a class="page-link" href="/user_management/page/{{ maxPages }}" aria-label="Last Page">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Last Page</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% if invalidEmail %}
        <script>
            var invalidEmailModal = new bootstrap.Modal(document.getElementById('invalidEmailModal'), {});
            invalidEmailModal.show();
        </script>
    {% endif %}
{% endblock %}