{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="static/styles/purchaseview.css">{% endblock %}
{% block title %}Profile Settings | CourseFinity{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="#">Purchase History</a></li>
    <li><a href="#">Order#1</a></li>
    <li><a href="#">Videos</a></li>
  </ul>
  <div class="container">
    <div class="box">
      <h3>Course: </h3>
      <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../static/images/user_home/placeholder.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}