{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/purchasehistory.css') }}">{% endblock %}
{% block title %}Purchase History | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <a href="#"><h4>Back</h4></a>
    <h2>Purchase History</h2>
    <div class="card mb-3" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ imagePath }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    {% if maxPages > 5 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/page/1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for key in paginationList %}
                {% if key == pageNum %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/page/{{ key }}">{{ key }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/purchasehistory/page/{{ key }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/page/{{ maxPages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% elif maxPages == 0 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/page/0" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/page/0">0</a></li>
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/page/0" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% elif maxPages <= 5 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/page/1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for key in paginationList %}
                {% if key == pageNum %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/page/{{ key }}">{{ key }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/purchasehistory/page/{{ key }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/page/{{ maxPages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
  </div>
{% endblock %}