{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/purchasereview.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/breadcrumb.css') }}">{% endblock %}
{% block title %}Purchase Review | CourseFinity{% endblock %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/purchasehistory">Purchase History</a></li>
			<li class="breadcrumb-item active" aria-current="page">Review</li>
		</ol>
	</nav>
	<div class="box">
		<h2>Create a review (Less than 200 words):</h2>
		<div>
			{{ render_field(form.title, class="form-control") }}
			<br>
			{{ render_field(form.review, class="form-control") }}
			<a href="/" class="btn btn-link">Submit Your Review</a>
		</div>
	</div>
</div>
{% endblock %}