{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/purchase_history.css') }}">

{% endblock %}
{% block title %}Purchase History | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    
    <a href="/"><h4>Back</h4></a>
    <h2>Purchase History</h2>
    {% if historyCheck == False %}
    <div>
        <h4 style="text-align:center;margin-bottom:50px;opacity:0.5;">Your Purchase History is empty.</h4>
    </div>
    {% else %}
    {% for courseInformation in historyList %}
    <div class="row no-gutters layer-2">
        <div class="col-4">
            <!--Placeholders-->
        </div>
        <div class="col-8">
            <div class="card-body text">
                <h5 class="card-title">{{ courseInformation["Title"] }}</h5>
                <p class="card-text">{{ courseInformation["Description"] }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="selection col">
                        {% if "CourseTypeCheck" == "Video" %}
                        <p class="info">Online Videos</p>
                        <a href="{{ link }}" class="view">View Recording</a>
                        {% elif "CourseTypeCheck" == "Zoom" or "Video" %}
                        <p class="info">Zoom Session</p>
                        <a href="{{ link }}" class="view">View Zoom Link</a>
                        {% endif %}
                        <a class="btn btn-link" href="/purchasereview/{{courseID}}">Submit Review</a>
                    </div>
                    <div class="information col">
                        <!--Placeholders-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if maxPages > 5 %}
    <nav aria-label="Page navigation">
        <ul class="pagination flex-wrap">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/1" aria-label="First Page">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First Page</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ previousPage }}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for key in paginationList %}
                {% if key == pageNum %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ nextPage }}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/{{ maxPages }}" aria-label="Last Page">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last Page</span>
                </a>
            </li>
        </ul>
    </nav>
    {% elif maxPages == 0 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/0" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/0">0</a></li>
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/0" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% elif maxPages <= 5 %}
    <nav aria-label="Page navigation">
        <ul class="pagination flex-wrap">
            <li class="page-item ms-auto">
                <a class="page-link" href="/purchasehistory/1" aria-label="First Page">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First Page</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ previousPage }}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for key in paginationList %}
                {% if key == pageNum %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/purchasehistory/{{ key }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="/purchasehistory/{{ nextPage }}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item me-auto">
                <a class="page-link" href="/purchasehistory/{{ maxPages }}" aria-label="Last Page">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last Page</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
  </div>
{% endblock %}