{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/purchasereview.css') }}">{% endblock %}
{% block title %}Purchase Review | CourseFinity{% endblock %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/purchasehistory">Purchase History</a></li>
    <li>Write A Review</li>
</ul>
  <div class="container">
    <div class="box">
      <h2>Course: {{courseInformation["Title"]}}</h2>
      <h5>Create a review (Less than 200 words):</h5>
      <form action="home" method="POST">
        <div>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}