{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/purchaseview.css') }}">{% endblock %}
{% block title %}Purchase view | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    
    <a class="fa fa-arrow-left" href="/"></a>
    <h2>Purchase View</h2>
    {% for courseInformation in historyList %}
    <div class="row no-gutters layer-2">
        <div class="col-4">
            <!--Placeholders-->
        </div>
        <div class="col-8">
            <div class="card-body text">
                <h5 class="card-title">{{ courseInformation["Title"] }}</h5>
                <p class="card-text">{{ courseInformation["Description"] }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="selection col">
                        {% if "CourseTypeCheck" == "Video" %}
                        <p class="info">Online Videos</p>
                        <a href="{{ link }}" class="view">View Recording</a>
                        {% elif "CourseTypeCheck" == "Zoom" or "Video" %}
                        <p class="info">Zoom Session</p>
                        <a href="{{ link }}" class="view">View Zoom Link</a>
                        {% endif %}
                        <form action="/purchasereview/{{courseID}}" method="GET">
                            <button type="submit" a class="btn btn-link">Submit Review</button>
                        </form>
                    </div>
                    <div class="information col">
                        <!--Placeholders-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}