{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}Profile Settings | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if usernameChanged %}
<div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="usernameLabel">Username Changed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Your username has succesfully been changed.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if emailChanged %}
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="emailLabel">Email Changed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Your email has succesfully been changed.</h6>
            <h6>Please check your email to verify your updated email.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if passwordChanged %}
<div class="modal fade" id="PasswordModal" tabindex="-1" aria-labelledby="passwordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="passwordLabel">Password Changed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Your password has succesfully been changed.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if imageChanged %}
<div class="modal fade" id="imageChangedModal" tabindex="-1" aria-labelledby="imageChangedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imageChangedModalLabel">Profile Image Changed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Your profile image has been succesfully uploaded and changed.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if imageFailed %}
<div class="modal fade" id="imageFailedModal" tabindex="-1" aria-labelledby="imageFailedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imageFailedModalLabel">Failed to change your profile image!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Your profile image <span class="text-danger">has not been succesfully</span> uploaded and changed.</h6>
            <h6>Do note that only images with the extension <span class="text-danger">png, jpg, or jpeg are only accepted</span> and the image size must be <span class="text-danger">2MB or less</span>.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if RecentChangeAccType %}
<div class="modal fade" id="RecentChangeAccTypeModal" tabindex="-1" aria-labelledby="RecentChangeAccTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="RecentChangeAccTypeModalLabel">You are a teacher now!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Congratulations! You have successfully become a teacher! Please do not hesitate to contact us if you have any concerns, we will be happy to help!</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if emailSent %}
<div class="modal fade" id="emailSentModal" tabindex="-1" aria-labelledby="emailSentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="emailSentModalLabel">Verification Email Sent</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>We have sent you a verification link to verify your email.</h6>
            <h6>Please make sure to check your email spam folder as well.</h6>
            <h6>Do note that the link will expire in 1 day.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if emailAlreadyVerified %}
<div class="modal fade" id="emailAlreadyVerifiedModal" tabindex="-1" aria-labelledby="emailAlreadyVerifiedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="emailAlreadyVerifiedModalLabel">Email Already Verified</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>You have already verified your email address. There is no need to verify it again.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if emailVerified %}
<div class="modal fade" id="emailVerifiedModal" tabindex="-1" aria-labelledby="emailVerifiedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="emailVerifiedModalLabel">Email Verified</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Your email address has been verified!</h6>
            <h6>Please do not hesitate to contact us at <a href="mailto:support@coursefinity.com">support@coursefinity.com</a> if you have any questions.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if emailTokenInvalid %}
<div class="modal fade" id="emailTokenInvalidModal" tabindex="-1" aria-labelledby="emailTokenInvalidModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="emailTokenInvalidModalLabel">Email Verification Link Expired</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Email verification link is invalid or has expired. Please generate a new link and try again later.</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">My Account</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white active-custom">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/payment_method" class="nav-link text-white">
                            Payment Method
                        </a>
                    </li>
                    {% if accType == "Teacher" %}
                    <li class="nav-item">
                        <a href="/teacher_cashout" class="nav-link text-white">
                          Cash Out
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container res_padding_remove">
                    {% if emailVerification == False %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <h6>Looks like you have not verified your email, please verify by clicking <a class="text-danger fw-bold" href="/generate_verify_email_token">here...</a></h6>
                        <h6>Alternatively, you can check your email if you have recently signed up.</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-5 image-center">
                            <img src="{{ imagesrcPath }}" alt="User Profile Icon" id="user-icon-setting">
                            <div class="mb-9">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="submittedForm" value="image">
                                    <label for="imageFile" class="form-label">Upload Profile Image</label>
                                    <input class="form-control" type="file" id="imageFile" name="profileImage" accept="image/*" oninput="filesize(this)" required>
                                    <button type="submit" class="btn btn-success profile-icon float-end">Save Profile Icon</button>
                                </form>
                            </div>
                            {% if accType == "Teacher" %}
                            <div class="border border-2 alert alert-light alert-dismissible fade show margin-card text-dark" role="alert">
                                <h4>Did you know?</h4>
                                <p>If you want to teach a subject that is not listed in the select option when uploading a video, you can contact us to get it added to the list of subjects!</p>
                                <p>Additionally, if you require any assistance, feel free to contact us!</p>
                                <form action="/contact_us" method="POST">
                                    <button type="submit" class="btn button_colour btn-lg">Contact Us</button>
                                </form>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table margin-top">
                                    <tr>
                                        <td><h6>Username:</h6></td>
                                        <td>
                                            <h6 class="margin-btm" id="tooltipValueUsername"><a href="javascript:copyToClipBoard('Username')" onmouseout="tooltipMouseOut('Username')" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard" id="tooltipElementUsername" class="profile_copy_text">{{ username }}</a></h6>
                                            <a href="/change_username">Change Username</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h6>Email:</h6></td>
                                        <td>
                                            <h6 class="margin-btm" id="tooltipValueEmail"><a href="javascript:copyToClipBoard('Email')" onmouseout="tooltipMouseOut('Email')" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard" id="tooltipElementEmail" class="profile_copy_text">{{ email }}</a></h6>
                                            <a href="/change_email">Change Email</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h6>Account Type:</h6></td>
                                        <td>
                                            <h6 class="margin-btm">{{ accType }}</h6>
                                            {% if accType == "Student" %}
                                            <span><a href="/change_account_type">Become a Teacher!</a></span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h6>Password:</h6></td>
                                        <td><a href="/change_password">Change Password</a></td>
                                    </tr>
                                    {% if accType == "Teacher" %}
                                    <tr>
                                        <td colspan="2">
                                            {% if teacherBio == "" %}
                                            <div class="mb-3" id="originalTextarea">
                                                <label for="teacherBio" class="form-label">Bio:</label>
                                                <input type="hidden" name="submittedForm" value="bio">
                                                {% if teacherBio == "" %}
                                                <textarea class="form-control" id="teacherBio" name="teacherBio" rows="15" disabled>Enter a bio to tell students of CourseFinity about you and what you are teaching! (You can also resize the text box by dragging on the bottom right of this text box)</textarea>
                                                {% else %}
                                                <textarea class="form-control" id="teacherBio" name="teacherBio" rows="15" disabled>{{ teacherBio }}</textarea>
                                                {% endif %}
                                                <div class="d-flex float-end">
                                                    <button type="button" class="btn btn-primary margin-top" onclick="editBioNow()">Edit Bio</button>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="mb-3" id="originalTextarea">
                                                <label for="teacherBio" class="form-label">Bio:</label>
                                                <input type="hidden" name="submittedForm" value="bio">
                                                {% if teacherBio == "" %}
                                                <textarea class="form-control" id="teacherBio" name="teacherBio" rows="15" disabled>{{ teacherBio }})</textarea>
                                                {% else %}
                                                <textarea class="form-control" id="teacherBio" name="teacherBio" rows="15" disabled>{{ teacherBio }}</textarea>
                                                {% endif %}
                                                <div class="d-flex float-end">
                                                    <button type="button" class="btn btn-primary margin-top" onclick="editBioNow()">Edit Bio</button>
                                                </div>
                                            </div>
                                            {% endif %}
                                        <form action="" method="POST" id="editedTextarea" hidden>
                                            <div class="mb-3">
                                                <label for="teacherBio" class="form-label">Bio:</label>
                                                <input type="hidden" name="submittedForm" value="bio">
                                                {% if teacherBio == "" %}
                                                <textarea class="form-control" id="teacherBio" name="teacherBio" rows="15" spellcheck="true">Enter a bio to tell students of CourseFinity about you and what you are teaching! (You can also resize the text box by dragging on the bottom right of this text box)</textarea>
                                                {% else %}
                                                <textarea class="form-control" id="teacherBio" name="teacherBio" rows="15" spellcheck="true">{{ teacherBio }}</textarea>
                                                {% endif %}
                                                <div class="d-flex float-end">
                                                    <button type="button" class="btn btn-danger margin-top cancleSaveBio" onclick="cancelBio()">Cancel</button>
                                                    <button type="submit" class="btn btn-success margin-top">Save Bio</button>
                                                </div>
                                            </div>
                                        </form>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </table>
                            </div>
                            {% if accType == "Student" %}
                            <div class="border border-2 alert alert-light alert-dismissible fade show text-dark" role="alert">
                                <h4>Did you know?</h4>
                                <p>If you have a passion for teaching, you can become an educator on CourseFinity!</p>
                                <p>CourseFinity will only take 25% of your monthly revenue. Additionally, for the first three months, you will earn 100% of your monthly revenue!</p>
                                <p>Click on the button below or click on "Become a Teacher!" above!</p>
                                <form action="/change_account_type" method="GET">
                                    <button type="submit" class="btn button_colour btn-lg">Change account type</button>
                                </form>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% if usernameChanged %}
        <script>
            var usernameModal = new bootstrap.Modal(document.getElementById("usernameModal"), {});
            usernameModal.show();
        </script>
    {% endif %}
    {% if emailChanged %}
        <script>
            var emailModal = new bootstrap.Modal(document.getElementById("emailModal"), {});
            emailModal.show();
        </script>
    {% endif %}
    {% if passwordChanged %}
        <script>
            var pwdModal = new bootstrap.Modal(document.getElementById("PasswordModal"), {});
            pwdModal.show();
        </script>
    {% endif %}
=
    {% if RecentChangeAccType %}
        <script>
            var RecentChangeAccTypeModal = new bootstrap.Modal(document.getElementById("RecentChangeAccTypeModal"), {});
            RecentChangeAccTypeModal.show();
        </script>
    {% endif %}
    {% if emailSent %}
        <script>
            var emailSentModal = new bootstrap.Modal(document.getElementById("emailSentModal"), {});
            emailSentModal.show();
        </script>
    {% endif %}
    {% if emailAlreadyVerified %}
        <script>
            var emailAlreadyVerifiedModal = new bootstrap.Modal(document.getElementById("emailAlreadyVerifiedModal"), {});
            emailAlreadyVerifiedModal.show();
        </script>
    {% endif %}
    {% if emailVerified %}
        <script>
            var emailVerifiedModal = new bootstrap.Modal(document.getElementById("emailVerifiedModal"), {});
            emailVerifiedModal.show();
        </script>
    {% endif %}
    {% if emailTokenInvalid %}
        <script>
            var emailTokenInvalidModal = new bootstrap.Modal(document.getElementById("emailTokenInvalidModal"), {});
            emailTokenInvalidModal.show();
        </script>
    {% endif %}
    <script src="{{ url_for('static', filename='scripts/user_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap_util.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/copy_to_clipboard.js') }}"></script>
{% endblock %}
