{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_home.css') }}">{% endblock %}
{% block title %}Home | CourseFinity{% endblock %}

{% block content %}
{% if teacherPaymentAdded %}
<div class="modal fade" id="addedCardModal" tabindex="-1" aria-labelledby="addedCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addedCardModalLabel">Payment Method Added</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Your card details has been successfully added.</h6>
                <h6>You can still edit your payment method in the user account settings.</h6>
                <h6>Have fun teaching!</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <h2>Trending</h2>
    <div class="row">
        <div class="col-md">
            <a href="#"><img src="../static/images/user_home/placeholder.jpg" alt=""></a>
            <a href="#"><h4>Discrete Math</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="col-md">
            <a href="#"><img src="../static/images/user_home/placeholder.jpg" alt=""></a>
            <a href="#"><h4>Competitive Programming</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="col-md">
            <a href="#"><img src="../static/images/user_home/placeholder.jpg" alt=""></a>
            <a href="#"><h4>Dynamic Programming</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <h2>Recommendations</h2>
    <div class="row">
        <div class="col-md">
            <a href="#"><img src="../static/images/user_home/placeholder.jpg" alt=""></a>
            <a href="#"><h4>Discrete Math</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="col-md">
            <a href="#"><img src="../static/images/user_home/placeholder.jpg" alt=""></a>
            <a href="#"><h4>Competitive Programming</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="col-md">
            <a href="#"><img src="../static/images/user_home/placeholder.jpg" alt=""></a>
            <a href="#"><h4>Dynamic Programming</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md teacher">
            <img src="../static/images/user_home/placeholder.jpg" alt="">
        </div>
        <div class="col-md teacher">
            <h2>Become A Teacher Today!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <form action="/teacher_signup" method="POST">
                <button type="submit" class="teacher-button btn btn-primary btn-lg">Start Teaching Today</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% if teacherPaymentAdded %}
        <script>
            var addedCardModal = new bootstrap.Modal(document.getElementById('addedCardModal'), {});
            addedCardModal.show();
        </script>
    {% endif %}
{% endblock %}