{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}Payment Settings | CourseFinity{% endblock %}

{% block content %}

{% if cardUpdated %}
<div class="modal fade" id="updatedCardModal" tabindex="-1" aria-labelledby="updatedCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatedCardModalLabel">Card Details Updated</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Your payment method has been successfully updated.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if cardAdded %}
<div class="modal fade" id="addedCardModal" tabindex="-1" aria-labelledby="addedCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addedCardModalLabel">Payment Method Added</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Your card details has been successfully added.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" id="deleteCardModal" tabindex="-1" aria-labelledby="deleteCardConfirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCardConfirmation">Delete Card Info?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Are you sure that you want to delete your card info?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/delete_card" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form>
            </div>
        </div>
    </div>
</div>

<div class="container container_margin payment_exist">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">My Account</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/payment_method" class="nav-link text-white active-custom">
                            Payment Method
                        </a>
                    </li>
                    {% if accType == "Teacher" %}
                    <li class="nav-item">
                        <a href="/teacher_cashout" class="nav-link text-white">
                          Cash Out
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes payment_exist">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="table-responsive-lg cc-table">
                            <table class="table table-borderless">
                                <tr>
                                    <td>
                                        {% if cardType == "visa" %}<span class="float-start"><img src="{{ url_for('static', filename='images/payment/visa.svg') }}" alt="Visa logo" id="payment_logo">{% endif %}{% if cardType == "mastercard" %}<span class="float-start"><img src="{{ url_for('static', filename='images/payment/mastercard.svg') }}" alt="Mastercard logo" id="payment_logo">{% endif %}{% if cardType == "american express" %}<span class="float-start"><img src="{{ url_for('static', filename='images/payment/american_express.svg') }}" alt="American Express logo" id="payment_logo">{% endif %} &#8226;&#8226;&#8226;&#8226;{{ cardNo }}</span>
                                    </td>
                                    <td>
                                        <span class="float-end"><a href="/edit_payment">Edit</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ cardName }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-start">Expiry Date: {{ cardExpiry }}</span>
                                    </td>
                                    <td>
                                        <span class="float-end"><button class="btn btn-danger delete_button" data-bs-toggle="modal" data-bs-target="#deleteCardModal">Delete Card</button></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% if cardUpdated %}
        <script>
            var updatedCardModal = new bootstrap.Modal(document.getElementById('updatedCardModal'), {});
            updatedCardModal.show();
        </script>
    {% endif %}
    {% if cardAdded %}
        <script>
            var addedCardModal = new bootstrap.Modal(document.getElementById('addedCardModal'), {});
            addedCardModal.show();
        </script>
    {% endif %}
{% endblock %}
