{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}Add Payment Method | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if cardDeleted %}
<div class="modal fade" id="deletedCardModal" tabindex="-1" aria-labelledby="deletedCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletedCardModalLabel">Payment Method Deleted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Your card details has been successfully deleted.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if invalidCardType %}
<div class="modal fade" id="invalidCardTypeModal" tabindex="-1" aria-labelledby="invalidCardTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invalidCardTypeModalLabel">We are sorry!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>We only accept Mastercard, Visa or American Express cards.</h6>
                <h6>Sorry for the inconvenience caused.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">My Account</span></h4>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/payment_method" class="nav-link text-white active-custom">
                            Payment Method
                        </a>
                    </li>
                    {% if accType == "Teacher" %}
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">
                          Cash Out
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="card">
                            <h4 class="card-title margin-top">Add Payment Method</h4>
                            <div class="card-body">
                                <form action="" method="POST">
                                    <div class="col">
                                        {{ render_field(form.cardName, class="form-control", placeholder="John Doe") }}
                                    </div>
                                    <div class="col margin-top margin-top2">
                                        {{ render_field(form.cardNo, class="form-control", placeholder="4111111111111111") }}
                                        {% if cardValid == False %}<div class="text-danger"><h6><strong>Invalid Card Number</strong></h6></div>{% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 margin-top margin-top2">
                                            {{ render_field(form.cardExpiry, class="form-control", placeholder="04/22 or 4/2022") }}
                                            {% if cardExpiryValid == False %}<div class="text-danger"><h6><strong>Invalid Card Expiry Date</strong></h6></div>{% endif %}
                                        </div>
                                        <div class="col-md-6 margin-top margin-top2">
                                            {{ render_field(form.cardCVV, class="form-control", placeholder="123") }}
                                            {% if cardCVVValid == False %}<div class="text-danger"><h6><strong>Invalid CVV</strong></h6></div>{% endif %}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success margin-top margin-top2 float-end">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% if cardDeleted %}
        <script>
            var deletedCardModal = new bootstrap.Modal(document.getElementById('deletedCardModal'), {});
            deletedCardModal.show();
        </script>
    {% endif %}
    {% if invalidCardType %}
        <script>
            var invalidCardTypeModal = new bootstrap.Modal(document.getElementById('invalidCardTypeModal'), {});
            invalidCardTypeModal.show();
        </script>
    {% endif %}
{% endblock %}