<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/teacher_signup">Become a Teacher</a></li>
                    <li><a href="#">Community Guidelines</a></li>
                    <li><a href="#">Teacher's Handbook</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Socials</h4>
                <div class="social-links">
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Contact Info</h4>
                <div class="social-links">
                    <ul>
                        <li><i class="far fa-envelope"></i> Email: coursefinity@support.com</li>
                        <li><i class="fas fa-phone-alt"></i> +65 6251 2112</li>
                        <li><i class="far fa-clock"></i> Operating Hours</li>
                        <li>Monday to Friday: <br>08:00 to 18:00</li>
                        <li>Saturday: <br>08:00 to 12:00</li>
                        <li>Closed on Sundays and PH</li>
                    </ul>
                </div>
            </div>
            <p id="copyright">&copy; CourseFinity, Inc. 2022</p>
        </div>
    </div>
</footer>