<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dark shadow">
	<div class="container-fluid">
		<a id="logo" href="/"><img src="static/images/common/logo.png" alt="CourseFinity Logo"></a>
		</a>
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
			<div class="hamburger-toggle">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</button>
		<div class="collapse navbar-collapse" id="navbar-content">
			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">Explore Categories!</a>
					<ul class="dropdown-menu shadow">
						<li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 1</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 2</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 3</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 4</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 5</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
            </ul>
			<form class="d-flex ms-auto">
				<div class="input-group">
					<input class="form-control border-0 mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-secondary border-0" type="submit">Search</button>
				</div>
			</form>
		</div>
	</div>
</nav>