<div class="wrapper">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/"><img src="{{ url_for('static',filename='images/common/logo.png') }}" alt="CourseFinity Logo"></a></div>
            <ul class="links">
                <li>
                    <a href="#" class="desktop-link">Explore</a>
                    <input type="checkbox" id="Explore">
                    <label for="Explore">Explore</label>
                    <ul>
                        <li>
                            <a href="#" class="desktop-link">Development</a>
                            <input type="checkbox" id="Dev">
                            <label for="Dev">Development</label>
                            <ul>
                                <li><a href="#">Programming</a></li>
                                <li><a href="#">Web Dev</a></li>
                                <li><a href="#">Game Dev</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="desktop-link">Design</a>
                            <input type="checkbox" id="Design">
                            <label for="Design">Design</label>
                            <ul>
                                <li><a href="#">3D Modelling</a></li>
                                <li><a href="#">Drawing</a></li>
                                <li><a href="#">Animation</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="desktop-link">Fitness</a>
                            <input type="checkbox" id="Fitness">
                            <label for="Fitness">Fitness</label>
                            <ul>
                                <li><a href="#">Mental Health</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Dance</a></li>
                                <li><a href="#">Meditation</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="desktop-link">Subjects</a>
                            <input type="checkbox" id="Subjects">
                            <label for="Subjects">More Items</label>
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Science</a></li>
                                <li><a href="#">Mathematics</a></li>
                                <li><a href="#">Languages</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>

<div class="dummy-text">
    <h2>Daniel is gay</h2>
</div>