<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container-fluid">
		<a id="logo" href="/"><img src="{{ url_for('static', filename='images/common/logo.png') }}" alt="CourseFinity Logo"></a>
		</a>
		<input type="checkbox" id="check" data-bs-toggle="collapse" data-bs-target="#navbar-content"  aria-expanded="false" aria-label="Toggle navigation">
		<label for="check" id="nav-icon">
			<span></span>
			<span></span>
			<span></span>
		</label>
		<div class="collapse navbar-collapse" id="navbar-content">
			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">Explore Categories!</a>
					<ul class="dropdown-menu shadow">
						<li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 1</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 2</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 3</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 4</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
                        <li class="dropend">
							<a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Subject 5</a>
							<ul class="dropdown-menu shadow">
								<li>
									<a class="dropdown-item" href="#"> Second level 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Second level 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"> Third level 5</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
            </ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a href="/shopping_cart/0" class="nav-link text-white"><i class="fas fa-shopping-cart fa-lg"></i> Cart</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" href="javascript:void(0)" data-bs-toggle="dropdown"><i class="fas fa-user-circle fa-lg"></i> Account</a>
					<ul class="dropdown-menu shadow">
						{% if accType == "Teacher" %}
						<li><a href="/For Frontend Dev/teacher_page.html" class="dropdown-item"><i class="far fa-id-card"></i> Your Channel</a></li>
						{% endif %}
						<li><a href="/purchasehistory/0" class="dropdown-item"><i class="fas fa-history"></i> Purchases</a></li>
						<li><a class="dropdown-item" href="/user_profile"><i class="fas fa-user-edit"></i> Settings</a></li>
						<li><a class="dropdown-item text-danger" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
					</ul>
				</li>
            </ul>
			<form action="/search" method="GET" class="d-flex">
				<div class="input-group">
					<input class="form-control border-0 mr-2" type="search" placeholder="Search" name="q" aria-label="Search">
					<button class="btn btn-secondary border-0" type="submit"><i class="fas fa-search"></i></button>
				</div>
			</form>
		</div>
	</div>
</nav>
