{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}Add Payment Method | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if cardEdited %}
<div class="modal fade" id="editedCardModal" tabindex="-1" aria-labelledby="editedCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editedCardModalLabel">Payment Method Edited</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Your card details has been successfully edited.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">My Account</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cashout_preference" class="nav-link text-white active-custom">
                            Cashout Preferences
                        </a>
                    </li>
                    {% if accType == "Teacher" %}
                    <li class="nav-item">
                        <a href="/teacher_cashout" class="nav-link text-white">
                          Cashing Out
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div id="read" class="card">
                            <h4 class="card-title margin-top">Cashout Preferences</h4>
                            <div class="card-body">

                                <div class="col form-check form-check-inline">
                                    <label class="form-check-label" for="phoneChoice">Phone</label>
                                    {% if renderedInfo['Preference'] == "Phone" %}
                                    <input class="form-check-input" id="phoneChoice" type="radio" value="Phone" checked disabled>
                                    {% else %}
                                    <input class="form-check-input" id="phoneChoice" type="radio" value="Phone" disabled>
                                    {% endif %}
                                </div>

                                <div class="col form-check form-check-inline">
                                    <label class="form-check-label" for="emailChoice">Email</label>
                                    {% if renderedInfo['Preference'] == "Email" %}
                                    <input class="form-check-input" id="emailChoice" type="radio" value="Phone" checked disabled>
                                    {% else %}
                                    <input class="form-check-input" id="emailChoice" type="radio" value="Phone" disabled>
                                    {% endif %}
                                </div>

                                <div class="row">
                                    <div class="col-md-6 margin-top margin-top2">
                                        {{ cashoutForm.countryCode.label }}
                                        {{ cashoutForm.countryCode(class="form-control", disabled=true) }}
                                    </div>
                                    <div class="col-md-6 margin-top margin-top2">
                                        {{ cashoutForm.phoneNumber.label }}
                                        {% set phoneNumber = renderedInfo['phoneNumber'] %}
                                        {{ cashoutForm.phoneNumber(class="form-control", value=phoneNumber, disabled=true) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 margin-top margin-top2">
                                        <label for="emailAddress">Email:</label>
                                        <input class="form-control" type="text" value="{{ renderedInfo['Email'] }}" disabled>
                                    </div>
                                </div>

                                <button onclick="editRead('edit')" class="btn btn-primary margin-top margin-top2 float-end">Edit</button>
                            </div>
                        </div>

                        <div id="edit" class="card">
                            <h4 class="card-title margin-top">Edit Cashout Preferences</h4>
                            <div class="card-body">
                                <form action="" method="POST" id="edit-form">

                                    <div class="col form-check form-check-inline">
                                        <label class="form-check-label" for="cashoutPreference-0">Phone</label>
                                        {% if renderedInfo['Preference'] == "Phone" %}
                                        <input class="form-check-input" id="cashoutPreference-0" name="cashoutPreference" type="radio" value="Phone" checked onclick="toggle('phone')">
                                        {% else %}
                                        <input class="form-check-input" id="cashoutPreference-0" name="cashoutPreference" type="radio" value="Phone" onclick="toggle('phone')">
                                        {% endif %}
                                    </div>

                                    <div class="col form-check form-check-inline">
                                        <label class="form-check-label" for="cashoutPreference-1">Email</label>
                                        {% if renderedInfo['Preference'] == "Email" %}
                                        <input class="form-check-input" id="cashoutPreference-1" name="cashoutPreference" type="radio" value="Phone" checked onclick="toggle('email')">
                                        {% else %}
                                        <input class="form-check-input" id="cashoutPreference-1" name="cashoutPreference" type="radio" value="Phone" onclick="toggle('email')">
                                        {% endif %}
                                    </div>

                                    <div class="row" id="phone">
                                        <div class="col-md-6 margin-top margin-top2">
                                            {{ cashoutForm.countryCode.label }}
                                            {% if phoneError == True %}
                                            <div class="text-danger small strong"><h6>Invalid Phone Number</h6></div>
                                            {% endif %}
                                            {{ cashoutForm.countryCode(class="form-control") }}
                                        </div>
                                        <div class="col-md-6 margin-top margin-top2">
                                            {{ cashoutForm.phoneNumber.label }}
                                            {% set phoneNumber = renderedInfo['phoneNumber'] %}
                                            {{ cashoutForm.phoneNumber(class="form-control", value=phoneNumber) }}
                                        </div>
                                    </div>

                                    <div class="row" id="email">
                                        <div class="col-md-6 margin-top margin-top2">
                                            <label for="emailAddress">Email:</label>
                                            <div class="text-danger small strong"><h6>Email can be changed in Profile Settings</h6></div>
                                            <input id="emailAddress" class="form-control" type="text" value="{{ renderedInfo['Email'] }}" disabled>
                                        </div>
                                    </div>

                                    {{ cashoutForm.deleteInfo() }}

                                </form>
                                <button onclick="submit()" class="btn btn-success margin-top margin-top2 float-end">Save</button>
                                <button onclick="delete()" class="btn btn-danger margin-top margin-top2 float-end">Delete</button>
                                <button onclick="editRead('read')" class="btn btn-warning margin-top margin-top2 float-end">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function submit() {
        document.getElementById("edit-form").submit();
    }

    function delete() {
        document.getElementById("deleteInfo").value = true;
        submit();
    }

    function toggle(preference) {
        var phoneElement = document.getElementById('phone');
        var emailElement = document.getElementById('email');
        if (preference == "phone" && document.getElementById('cashoutPreference-0').checked) {
            phoneElement.style.display = "flex";
            emailElement.style.display = "none";
        }

        else if (preference == "email" && document.getElementById('cashoutPreference-1').checked) {
            phoneElement.style.display = "none";
            emailElement.style.display = "flex";
        }
    }

    function editRead(action) {
        var readElement = document.getElementById('read');
        var editElement = document.getElementById('edit');
        if (action == "read") {
            readElement.style.display = "flex";
            editElement.style.display = "none";
        }
        else if (action == "edit") {
            readElement.style.display = "none";
            editElement.style.display = "flex";
        }
    }

    {% if phoneError %}
        document.onload = editRead('edit');
    {% else %}
        document.onload = editRead('read');
    {% endif %}

    {% if renderedInfo['Preference'] == "Phone" %}
        document.onload = toggle('phone');
    {% elif renderedInfo['Preference'] == "Email" %}
        document.onload = toggle('email');
    {% endif %}


</script>
{% endblock %}
