{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/create_courses.css') }}">
{% endblock %}

{% block title %}Create Course | CourseFinity{% endblock %}


{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if imageChanged %}
<div class="modal fade" id="imageChangedModal" tabindex="-1" aria-labelledby="imageChangedModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageChangedModalLabel">Course Thumbnail Uploaded</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Your profile image has been succesfully changed.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if imageFailed %}
<div class="modal fade" id="imageFailedModal" tabindex="-1" aria-labelledby="imageFailedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageFailedModalLabel">Failed to upload your course thumbnail image!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Your profile image <span class="text-danger">has not been succesfully</span> uploaded.
                </h6>
                <h6>Do note that only images with the extension <span class="text-danger">png, jpg, or jpeg are only
                        accepted</span> and the image size must be <span class="text-danger">5MB or less</span>.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="LSUForm col">
            <div class="login-form bg-dark mt-4 p-4 rounded" id="userForm">
                <form action="" method="POST" class="row g-3">
                    <h4 class="text-white">Create Course</h4>
                    <!-- Title -->
                    <div class="col-md-12 text-white">
                        {{ render_field(form.title, class="form-control") }}
                    </div>

                    <!-- Thumbnail -->
                    <div class="col-md-12 text-white">
                        <!-- Use html to upload picture to database("static/images/courses/thumbnails") -->
                        <p>
                            Upload Your Thumbnail Here!<br>
                            <input type="text" name="textline" size="30">
                        </p>
                        <p>
                            Please upload a photo of filetype png, jpg, or jpeg under 5MB<br>
                            <input type="file" name="datafile" size="40">
                        </p>
                        <div>
                            <input type="submit" value="Send">
                        </div>
                    </div>

                    <!-- zoomCondition -->
                    <div class="col-md-12 form_checkbox">
                        {{ render_field(form.zoomCondition, class="form-control") }}
                    </div>

                    <!-- videoCondition -->
                    <div class="col-md-12 form_checkbox">
                        {{ render_field(form.videoCondition, class="form-control") }}
                    </div>

                    <!-- coursePrice -->
                    <div class="col-md-12 text-white">
                        {{ render_field(form.coursePrice, class="form-control") }}
                    </div>
                    <div class="col-md-12 form_checkbox">
                        <input class="form-check-input" type="checkbox" value="" id="teacher_condition2" required>
                        <label class="form-label text-white" for="teacher_condition2">I understand that videos uploaded must comply with CourseFinity's terms and conditions.</label>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-colour text-white float-end">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% if imageChanged %}
    <script>
        var imageChangedModal = new bootstrap.Modal(document.getElementById("imageChangedModal"), {});
        imageChangedModal.show();
    </script>
    {% endif %}
    {% if imageFailed %}
    <script>
        var imageFailedModal = new bootstrap.Modal(document.getElementById("imageFailedModal"), {});
        imageFailedModal.show();
    </script>
    {% endif %}
{% endblock %}