{% extends "user_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/my_channel.css') }}">
{% endblock %}

{% block title %}My Channel | CourseFinity{% endblock %}

{% block content %}
<!-- content -->
<div id="pfp_bio">
    <div class="row">
        <img src="{{ imagesrcPath }}" alt="User Profile Icon" id="user-icon-setting">
        <div id="bio" class="col-9">
            {{ bio }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2 class="headings">Featured Courses</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <a href="#"><img src="{{ course.get_thumbnail() }}" class="card-img-top" alt="Course Thumbnail"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ course.get_shortTitle() }}</a></h5>
                        <a href="#"><small class="text-muted">By {{ course.get_username() }}</small></a>
                        <p class="card-text">{{ course.get_shortDescription() }}</p>
                        {% if course.get_videoPrice() != None %}
                        <p class="card-text fw-bold">Video: ${{ course.get_videoPrice() }}</p>
                        {% endif %}
                        {% if course.get_zoomPrice() != None %}
                        <p class="card-text fw-bold">Zoom: ${{ course.get_zoomPrice() }}</p>
                        {% endif %}
                        <div class="ratings">
                            {% if course.get_averageRating() == 5 %}
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            {% elif course.get_averageRating() >= 4 and course.get_averageRating() < 5 %} <span
                                class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="far fa-star"></span>
                                {% elif course.get_averageRating() >= 3 and course.get_averageRating() < 4 %} <span
                                    class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    {% elif course.get_averageRating() >= 2 and course.get_averageRating() < 3 %} <span
                                        class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        {% elif course.get_averageRating() >= 1 and course.get_averageRating() < 2 %}
                                            <span class="fas fa-star"></span>
                                            <span class="far fa-star"></span>
                                            <span class="far fa-star"></span>
                                            <span class="far fa-star"></span>
                                            <span class="far fa-star"></span>
                                            {% elif course.get_averageRating() >= 0 and course.get_averageRating() < 1%}
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                {% endif %}
                        </div>
                        <p class="card-text">Views: {{ course.get_views() }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/static/images/user_home/placeholder.jpg" class="card-img-top" alt="Course Thumbnail">
                    <div class="card-body">
                        <h4 class="card-title">No Course Available</h4>
                        <p class="card-text">Sorry, there are currently no courses available.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="headings">Recent Courses</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <a href=""><img src="{{ course.get_thumbnail() }}" class="card-img-top" alt="Course Thumbnail"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ course.get_shortTitle() }}</a></h5>
                        <a href="#"><small class="text-muted">By {{ course.get_username() }}</small></a>
                        <p class="card-text">{{ course.get_shortDescription() }}</p>
                        {% if course.get_videoPrice() != None %}
                        <p class="card-text fw-bold">Video: ${{ course.get_videoPrice() }}</p>
                        {% endif %}
                        {% if course.get_zoomPrice() != None %}
                        <p class="card-text fw-bold">Zoom: ${{ course.get_zoomPrice() }}</p>
                        {% endif %}
                        <div class="ratings">
                            {% if course.get_averageRating() == 5 %}
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            {% elif course.get_averageRating() >= 4 and course.get_averageRating() < 5 %} <span
                                class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="far fa-star"></span>
                                {% elif course.get_averageRating() >= 3 and course.get_averageRating() < 4 %} <span
                                    class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    {% elif course.get_averageRating() >= 2 and course.get_averageRating() < 3 %} <span
                                        class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        {% elif course.get_averageRating() >= 1 and course.get_averageRating() < 2 %}
                                            <span class="fas fa-star"></span>
                                            <span class="far fa-star"></span>
                                            <span class="far fa-star"></span>
                                            <span class="far fa-star"></span>
                                            <span class="far fa-star"></span>
                                            {% elif course.get_averageRating() >= 0 and course.get_averageRating() < 1%}
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                <span class="far fa-star"></span>
                                                {% endif %}
                        </div>
                        <p class="card-text">Views: {{ course.get_views() }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/static/images/user_home/placeholder.jpg" class="card-img-top" alt="Course Thumbnail">
                    <div class="card-body">
                        <h4 class="card-title">No Course Available</h4>
                        <p class="card-text">Sorry, there are currently no courses available.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="float-end" href="/{{ teacherUID }}/teacher_courses">See All Courses</a>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}