{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}Teacher Cash Out | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:30px;">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">My Account</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/payment_method" class="nav-link text-white">
                            Payment Method
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/teacher_cashout" class="nav-link text-white active-custom">
                          Cash Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                      <div>
                          <h4>You have earned ${} for {}</h4>
                          <h4>Earning Details:</h4>
                      </div>
                        <div class="card">
                            <h6 class="card-title payment" style="margin-top:10px;">
                                <span class="float-start">Earnings from your course:</span>
                                <span class="float-end">{}</span>
                            </h6>
                            <h6 class="card-title payment" style="margin-top:10px;">
                                <span class="float-start">Commission:</span>
                                <span class="float-end">{}</span>
                            </h6>
                            <h6 class="card-title payment" style="margin-top:10px;">
                                <span class="float-start">Total:</span>
                                <span class="float-end">{}</span>
                            </h6>
                        </div>
                        <form action="/" method="POST">
                            <button type="Submit" class="cashout_button btn btn-primary btn-lg">Cash out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
