{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="static/styles/user_profile.css">{% endblock %}
{% block title %}Teacher Cash Out | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">My Account</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="/payment_method" class="nav-link text-white">
                            Payment Method
                        </a>
                    </li>
                    <li>
                        <a href="/teacher_cashout.html" class="nav-link text-white active-custom">
                          Cash Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title payment">
                                    <span class="float-start"><img src="../static/images/payment/visa.png" alt="payment method logo" id="payment_logo"> &#8226;&#8226;&#8226;&#8226;1234</span>
                                    <span class="float-end"><a href="#">Edit</a></span>
                                </h6>
                                <h6 class="card-text payment">John Doe</h6>
                                <h6 class="card-title payment">
                                    <span class="float-start">Expiry Date: 01/2022</span>
                                    <span class="float-end"><a href="#">Delete Card</a></span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}