{% extends "user_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/teacher_courses.css') }}">
{% endblock %}

{% block title %}Teacher Page | CourseFinity{% endblock %}

{% block content %}
    <!-- content -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="teacher_page.html">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recent Courses</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="#"><img class="image" src="../static/images/user_home/placeholder.jpg" alt=""></a>
                <a href="#">
                    <h4>Discrete Math</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit</p>
                <a class="float-end course_info" href="#">View Course Info...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><img class="image" src="../static/images/user_home/placeholder.jpg" alt=""></a>
                <a href="#">
                    <h4>Competitive Programming</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit</p>
                <a class="float-end course_info" href="#">View Course Info...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><img class="image" src="../static/images/user_home/placeholder.jpg" alt=""></a>
                <a href="#">
                    <h4>Dynamic Programming</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit</p>
                <a class="float-end course_info" href="#">View Course Info...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><img class="image" src="../static/images/user_home/placeholder.jpg" alt=""></a>
                <a href="#">
                    <h4>Discrete Math</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit</p>
                <a class="float-end course_info" href="#">View Course Info...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><img class="image" src="../static/images/user_home/placeholder.jpg" alt=""></a>
                <a href="#">
                    <h4>Competitive Programming</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit</p>
                <a class="float-end course_info" href="#">View Course Info...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><img class="image" src="../static/images/user_home/placeholder.jpg" alt=""></a>
                <a href="#">
                    <h4>Dynamic Programming</h4>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit</p>
                <a class="float-end course_info" href="#">View Course Info...</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}