{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/upload_lesson.css') }}">\
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css">
{% endblock %}

{% block title %}Create Video Lesson | CourseFinity{% endblock %}

{% block content %}
<div class="container-sm" id="form">
    <form action="" method="POST" enctype="multipart/form-data">
        <h2>Video Lesson Creation</h2>
        <div class="row">
            <!-- Zoom Thumbnail -->
            <div class="mb-5 col-6 gx-5">
                <div class="card" style="width:180px;">
                    <img id="thumbnail"
                        src="https://st2.depositphotos.com/3765753/5349/v/600/depositphotos_53491489-stock-illustration-example-rubber-stamp-vector-over.jpg"
                        alt="Your thumbnail will appear here" class="card-img-top" />
                </div>
                <br>
                <label for="formFile" class="form-label">Upload Video Lesson Thumbnail Here!</label>
                <input name="videoThumbnail" class="form-control" id="formFile" type='file' value=""
                    onchange="readURL(this);" />
            </div>

            <div class="mb-3 col-5">
                <!-- Video Title -->
                <div class="mb-4">
                    <label for="vidoeTitle" class="form-label">Video Lesson Title</label>
                    <input name="zoomTitle" class="form-control" id="videoTitle" type="text" value="" required
                        placeholder="Lesson Title" />
                </div>

                <!-- Video Description -->
                <div class="mb-4">
                    <label for="videoDescription" class="form-label">Video Lesson Description</label>
                    <textarea name="videoDescription" class="form-control" id="videoDescription" rows="4" value=""
                        required placeholder="Lesson Description"></textarea>
                </div>
            </div>
            <!-- Video Upload -->
            <label for="video thumbnail"> Upload Video:</label>
            <div class="row">
                <div class="col-md-5 image-center">
                    <div class="mb-9">
                        <div id="imageForm">
                            <form action="" method="POST" enctype="multipart/form-data" class="dropzone" id="dropper">
                                <input type="hidden" name="submittedForm" value="image">
                                <div class="dz-default dz-message upload-background">
                                    <i class="fas fa-cloud-upload-alt upload-icon"></i>
                                    <br>
                                    <span>Click or drop your video file here</span>
                                </div>
                                <button type="submit" id="submit-button" hidden>Upload Video</button>
                                <button class="" id="remove-pfp" hidden data-dz-remove>Cancel</button>
                            </form>
                            <label for="submit-button" class="btn btn-success profile-icon float-end">Upload</label>
                            <label for="remove-pfp"
                                class="btn btn-danger profile-icon float-end btn-margin">Cancel</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn">
            <span>Submit</span>
        </button>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}