{% extends "guest_base.html" %}
{% block head %}<link rel="stylesheet" href="static/styles/user_home.css">{% endblock %}
{% block title %}Welcome to CourseFinity!{% endblock %}

{% block content %}
<div class="container">
  <h2>Trending</h2>
  <div class="row">
    <div class="col-md">
      <a href="#"><img src="static/images/user_home/placeholder.jpg" alt=""></a>
      <a href="#"><h4>Discrete Math</h4></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="col-md">
      <a href="#"><img src="static/images/user_home/placeholder.jpg" alt=""></a>
      <a href="#"><h4>Competitive Programming</h4></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="col-md">
      <a href="#"><img src="static/images/user_home/placeholder.jpg" alt=""></a>
      <a href="#"><h4>Dynamic Programming</h4></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md teacher">
      <img src="static/images/user_home/placeholder.jpg" alt="">
    </div>
    <div class="col-md teacher">
      <h2>Become A Teacher Today!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <form action="/teacher_signup" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Start Teaching Today</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}