{% extends "guest_base.html" %}
{% block head %}<link rel="stylesheet" href="static/styles/login_signin.css">{% endblock %}
{% block title %}Sign Up | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-colour mt-4 p-4" id="userForm">
                <form action="" method="POST" class="row g-3">
                    <h4 class="text-white">Create your account!</h4>
                    <div class="col-12 text-white">
                        {{ render_field(form.username, class="form-control") }}
                        <!-- <label for="username" class="text-white">Username:</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="John Doe" required> -->
                    </div>
                    <div class="col-12 text-white">
                        {{ render_field(form.email, class="form-control") }}
                        <!-- <label for="email" class="text-white">Email:</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="johndoe@gmail.com" required> -->
                    </div>
                    <div class="col-12 text-white">
                        {{ render_field(form.password, class="form-control") }}
                        <!-- <label for="password" class="text-white">Password:</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required> -->
                    </div>                 
                    <div class="col-12">
                        <button type="submit" value="Submit" class="btn btn-colour text-white float-end">Sign Up</button>
                    </div>
                </form>
                <hr class="mt-4 text-white">
                <div class="col-12">
                    <p class="text-center mb-0 text-white">Already a registered user?</p>
                    <p class="text-center mb-0"><a class="text-white fw-bold" href="/login">Login here!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}