{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="static/styles/user_profile.css">{% endblock %}
{% block title %}Profile Settings | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">My Account</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link text-white active-custom">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="/payment_method" class="nav-link text-white">
                            Payment Method
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="static/images/user/default.png" alt="User Profile Icon" id="user-icon-setting">
                            <div class="mb-9">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {{ render_field(form.imageFormFile, class="form-control") }}
                                    <button type="submit" class="btn btn-success profile-icon">Save Profile Icon</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="container profile-settings">
                                <div class="row profile-info">
                                    <div class="col-sm-4">
                                        <h6 class="margin-btm">Username:</h6>
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="margin-btm">John Doe</h6>
                                        <a href="#">Change Username</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6 class="margin-btm margin-top margin-top2">Email:</h6>
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="margin-btm margin-top">johndoe@gmail.com</h6>
                                        <a href="#">Change Email</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6 class="margin-btm margin-top margin-top2">Account Type:</h6>
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="margin-btm margin-top">Student</h6>
                                        <a href="#">Become a Teacher!</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6 class="margin-btm margin-top margin-top2">Password:</h6>
                                    </div>
                                    <div class="col-sm-8 margin-top">
                                        <a href="#">Change Password</a>
                                    </div>
                                </div>
                                <div class="card user-tip">
                                    <div class="card-body">
                                        <h4>Did you know?</h4>
                                        <p>If you have a passion for teaching, you can become an educator on CourseFinity!</p>
                                        <p>Click on the button below or click on "Become a Teacher!" above!</p>
                                        <form action="#" method="POST">
                                            <button type="submit" class="btn btn-secondary btn-lg" value="">Change account type</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

