<!--Template by Wei Ren-->

{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/payment_info_v2.css') }}">
{% endblock %}
{% block title %}Payment Info | CourseFinity{% endblock %}

{% block content %}

{% from "includes/_formHelper.html" import render_field %}

<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>

{% endblock %}

{% block extra_js %}
<!--Paypal API-->
<script src="https://www.paypal.com/sdk/js?client-id=AUTh83JMz8mLNGNzpzJRJSbSLUAEp7oe1ieGGqYCmVXpq427DeSVElkHnc0tt70b8gHlWg4yETnLLu1s&debug=true"></script>
<!--
Format for PayPal link: Include the PayPal JavaScript SDK; replace
"test" with your own sandbox Business account app client ID.

<script src="https://www.paypal.com/sdk/js?client-id=test"></script>
-->
<script src="{{ url_for('static', filename='scripts/payment_info_v2.js') }}"></script>
{% endblock %}
