<!--Template by Wei Ren-->

{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/shopping_card.html') }}">{% endblock %}
{% block title %}Shopping Cart | CourseFinity{% endblock %}

{% block content %}


{% for name in names %}
  Hello, {{ name }}, welcome to {{ place }}!
{% endfor %}


<!--Pagination-->
{% if maxPages > 5 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item ms-auto">
            <a class="page-link" href="/user_management/1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        {% for key in paginationList %}
        <li class="page-item"><a class="page-link" href="/user_management/{{ key }}">{{ key }}</a></li>
        {% endfor %}
        <li class="page-item me-auto">
            <a class="page-link" href="/user_management/{{ maxPages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
{% elif maxPages == 0 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item ms-auto">
            <a class="page-link" href="/user_management/0" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="/user_management/0">0</a></li>
        <li class="page-item me-auto">
            <a class="page-link" href="/user_management/0" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
{% elif maxPages <= 5 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item ms-auto">
            <a class="page-link" href="/user_management/1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        {% for key in paginationList %}
        <li class="page-item"><a class="page-link" href="/user_management/{{ key }}">{{ key }}</a></li>
        {% endfor %}
        <li class="page-item me-auto">
            <a class="page-link" href="/user_management/{{ maxPages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}

{% endblock %}
