<!--Template by Wei Ren-->

{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/shopping_card_payment.css') }}">
{% endblock %}
{% block title %}Shopping Cart | CourseFinity{% endblock %}

{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<div id="shopping-title">
    <h4>Shopping Cart</h4>
    <hr>
</div>
{% if courseList != [] %}
<div class="row g-0">
    <div class="col"> <!--col-8 if PayPal exists-->
        {% for course in courseList %}

        <!--Remove Course from Cart Form-->
        <form id="{{ course['courseID'] }}" method="post">

            <!-- Hidden Form Fields, because Jinja2 hates curly braces in curly braces -->
            {% set courseID = course['courseID'] %}
            {{ render_field(form.courseID, value = courseID) }}
        </form>

        <!--Course Info-->
        <div class="card">
            <div class="row g-0">
                <div class="col">
                    <img src= "{{ course['courseThumbnail'] }}" class="card-img" alt="Course Thumbnail">
                    <!--url_for('static', filename=course['courseThumbnail'])-->
                </div>
                <div class="col">
                    <div class="information">
                        <!--url_for('static', filename=course['courseOwnerLink'])--><!--url_for('static', filename=course['courseOwnerProfile'])-->
                        <p><a href="{{ course['courseOwnerLink'] }}"><img src="{{ course['courseOwnerProfile'] }}" alt="Course Creator Profile"><span>&nbsp;&nbsp;</span>{{ course['courseOwnerUsername'] }}&nbsp;</a></p>
                        <p>US${{ course['coursePricePaying'] }}</p>
                    </div>
                </div>
            </div>



            <div class="card-body text">
                <h5 class="card-title">{{ course['courseTitle'] }}<i class="fas fa-times" onclick="removeCourse('{{ course['courseID'] }}')"></i></h5>
                <p class="card-text">{{ course['courseDescription'] }}</p>
            </div>



            <div class="card-body">
                <div class="row g-0">
                    <div class="selection col">
                        {% if info == "Video" %}
                        <p class="info">Online Videos</p>
                        <a href="{{ link }}" class="view">View Recording</a>
                        {% elif info == "Zoom" %}
                        <p class="info">Zoom Session</p>
                        <a href="{{ link }}" class="view">View Zoom Link</a>
                        {% else %}	<!--Zoom not specified.-->
                            {% if course['courseType'] == "Video" %}
                            <a href="{{ link_vid }}" class="selected">Video Recording</a>
                            {% elif course['courseType'] != "Video" %}
                            <a href="{{ link_vid }}" class="unselected">Video Recording</a>
                            {% endif %}

                            {% if course['courseType'] == "Zoom" %}
                            <a href="{{ link_zoom }}" class="selected">Live Zoom</a>
                            {% else %}
                            <a href="{{ link_zoom }}" class="unselected">Live Zoom</a>
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="paypalErrorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paypalErrorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paypalErrorModalLabel">Transaction Cancelled</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h6>Your transaction appears to have been cancelled.</h6>
              <h6>If you did not do so, try clearing your cache and try again.</h6>
              <h6>An ad blocker might also be the issue.</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Checkout Complete Form-->
    <div class="col-4">
        <form id="paypal-complete" method="post">
            {{ render_field(checkoutForm.checkoutComplete) }}
            {{ render_field(checkoutForm.checkoutTiming) }}
            {{ render_field(checkoutForm.checkoutOrderID) }}
            {{ render_field(checkoutForm.checkoutPayerID) }}
        </form>

        <div id="paypal-container">
            <div class="subtotal">
                <p id="hidden-subtotal">{{ subtotal }}</p>
                {% if count == 1 %}
                    <h5>Subtotal: US ${{ subtotal }}</h5>
                {% else %}
                    <h5>Subtotal ({{ count }} items): US ${{ subtotal }}</h5>
                {% endif %}
            </div>

            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>

        </div>
    </div>
</div>


{% else %}

<div class="empty-cart">
    <a href=""><i class="fas fa-cart-plus"></i></a>
    <p>Seems like there isn't anything here. Continue Shopping?</p>
</div>

{% endif %}

{% endblock %}



{% block extra_js %}

<script src="{{ url_for('static', filename='scripts/shopping_card.js') }}"></script>
{% if count != 0 %}
<!--Paypal API-->
<script src="https://www.paypal.com/sdk/js?client-id=AUTh83JMz8mLNGNzpzJRJSbSLUAEp7oe1ieGGqYCmVXpq427DeSVElkHnc0tt70b8gHlWg4yETnLLu1s&debug=false"></script>
<script src="{{ url_for('static', filename='scripts/paypal_checkout.js') }}"></script>
<!--
Format for PayPal link: Include the PayPal JavaScript SDK; replace
"test" with your own sandbox Business account app client ID.

<script src="https://www.paypal.com/sdk/js?client-id=test"></script>                                      -->
{% endif %}

{% endblock %}
