.container-fluid img {
  height:500px;
  width:auto;
  border-radius:15%;
  text-align:center;
}
.container-fluid{
  justify-content: center;
}

.row{
  margin:auto;
  text-align:center;
}

h2{
  text-align:center;
}
p {
  text-align:center;
}
.col-lg-6{
  margin-top:40px;
  margin-bottom:40px;
}
.quote{
  font-size:32px;
  background-color: #75CFFD ;
   padding: 50px;
  border: 1px solid #A375FD;
}