/* Dropzone.js css to overwrite default */

.dropzone {
  margin-top: 10px;
  border: 4px dashed #ddd;
}

.upload-icon {
  color: #009DF8;
  font-size: 5em;
  margin-bottom: 10px;
}

.upload-icon:hover {
  color: #273C4D;;
}

@media (max-width: 468px) {
  .upload-icon {
    font-size: 3em;
  }
}

.btn-margin {
  margin-right: 10px;
}

#uploadThumbnailButton {
  margin-top: 10px;
}

/* Course Title */
/* input#title.form-control {
  border-radius: 0;
  border: 1px solid #ddd;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 10px;
  margin-bottom: 10px;
}
/* End of Dropzone */

/* Price */
/* Checkbox */
/*.form-check-input{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transform: translateY(-55px);
} */

/* Create Course Submit Button */
#submit{
  width: 100px;
  height: 50%;
  border-radius: 5px;
  border: none;
  background-color: #009DF8;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}
#submit:hover {
  color: #273C4D;
}