#navbar {
	background-color: #7588FD !important;
}
.nav-link {
	color: #FFF !important;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	#explore {
		margin: 0 25px;
		color: #FFF;
	}
	.admin-dropdown {
		margin-right: 20px;
	}

	.main-nav-icons {
		margin: 0 10px;
	}

	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

	.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; 
		margin-right:0.7rem; 
		margin-bottom: .5rem;
	}
	.admin-dropdown {
		margin-right: 0px;
	}
	
	#explore {
		margin: 10 10px !important;
	}
	
	.main-nav-icons {
		margin: 10 10px !important;
	}
	#search-input {
		width: 90%;
		margin-top: 0px;
	}
	#search-btn {
		margin-top: 0px;
		float: none !important;
	}
}	
@media (max-width: 442px) {
	#search-input {
		width: 70%;
	}	
}
/* ============ small devices .end// ============ */

/* ============ search bar css and logo responsiveness css // ============ */
#search-input {
	border-radius: 3px 0px 0px 3px;
	font-size: 17px;
	border: none;
	margin-top: 4px;
}

#search-btn {
	float: right;
	border-radius: 0px 3px 3px 0px;
	font-size: 17px;
	border: none;
	cursor: pointer;
	box-shadow: none;
	outline: none;
	margin-top: 4px;
}

#logo img {
	float: left;
	height: 70px;
	width: auto;
}

@media (max-width: 412px) {
	#logo img {
		height: 50px;
	}
}
/* ============ search bar and logo responsiveness .end// ============ */