/* {/*Check for ghost elements; very contrasting colours*/
  background: #000 !important;/**/
  color: #0f0 !important;/**/
  outline: solid #f00 1px !important;/**/
}*/

.col-8 {
    padding-right:0px;
}

.card {
    max-width: 80vw;
    margin: 10vw;
}

.col-8 .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img {
    margin: 1vw;
    width:25vw;
}

.card-title .fa-times:hover {
    color:#009df8;
    cursor:pointer;
}

.card-title .fa-times {
    float:right;
    display:inline-block;
}

.layer-1, .layer-2 {
    width:100%;
}

.layer-2 {
    position:absolute;
    height:100%;
}

.layer-2 .row {
    align-items:center;
}

.layer-1 .information {/*Correct Layering to make links clickable*/
    z-index:2;
}

.text {
    height:50%;
}

.delete {
    float: right;
    display: inline-block;
    font-size: 2.4em;
    height: auto;
    position: relative;
    bottom: 0.4em;
}

.delete:hover {
    color: #0d6efd;
    cursor: pointer;
}

.selection {
    width: 50%;
    text-align:center;
    height:90px;
}

.selection p {
    margin-bottom:0px;
}

.selection a, .selection p {
    text-align:center;
    width:50%;
    height:100%;
    border-width:2px;
    border-style:solid;
    line-height:1em;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    transition:0.3s;
}

.selection a:nth-of-type(2n+1) {/*The Left Selection, if anchor*/
    float:left;
}

.selection a:nth-of-type(2n) {/*The Right Selection, if anchor*/
    float:right;
}

.selection p:nth-of-type(2n+1) {/*The Left Selection, if paragraph*/
    float:left;
}

.selection p:nth-of-type(2n) {/*The Right Selection, if paragraph*/
    float:right;
}

.selection a:hover{
    text-decoration:none;
    font-size:1.3em;
    transition-duration:0.3s;
}

/*/////////////////////Colour Schemes for Selections//////////////////////////////*/
.selected {
    background-color: rgba(0, 157, 248,0.25);/*Same colour, but with transparency*/
    border-color:#009df8;
    color:#009df8;
}

.unselected {
    background-color: rgba(108, 117, 125, 0.25);
    border-color: #6c757d;
    color:#6c757d;
}

.unselected:hover {
    color:#7d726c;
}

.unavailable {
    background-color: rgba(248, 87, 0, 0.25);
    border-color: #f85700;
    color: #f85700;
}

.info {
    background-color: rgba(33,37,41,0.25);
    border-color:#212529;
    color:#212529;
}

.view {
    background-color: rgba(255,193,7,0.25);
    border-color:#ffc107;
    color:#ffc107;
}

.view:hover {
    color:#dfa806;
}

/*/////////////////////End of Colour Schemes for Selections//////////////////////////////*/


.card-body:nth-of-type(2n) .row{/*Inner row of card, where the tabs and options are*/
    height:100%;
}

.card-body {
    height:50%;/*One upper row, one lower row*/
    display:inline-block;
    width:100%;
}

.information {
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow:ellipsis;
}

.information img {/*The Profile Pic*/
    display:inline-block;
    vertical-align:middle;
    height:2em;
    width:auto;
    border-radius:50%;
    margin:2.5px;
}

.information p{/*Text in area around Profile, including Price*/
    direction:rtl;
    margin:0;
}

.information p:nth-of-type(2n) {/*Price*/
    font-weight:bold;
    font-size:min(1.5625em, 3.75vw);
}

.information a:hover {
    text-decoration:none;
    transition:0.3s;
    color:#0a58ca;
}

@media only screen and (max-width: 1175px) {/*a.k.a the bit where Bootstrap gets deconstructed*/
    .layer-1 {
        margin:2.5vw;
    }
    .layer-2 {
        position:relative;
        margin:auto;
    }
    .layer-1 .selection, .layer-2 .information, .layer-2 .col-4{
        display:none;
    }
    .layer-2 .col-8 {
        width:100%;
    }
    .layer-2 .row {
    align-items:stretch;/*Default Value*/
    }
    .layer-1 .col-8 .card-body:nth-of-type(2n+1) {
        display:none;
    }
    .layer-1 .information {
        width:50%;
        padding:0px;/*Fit text better*/
    }
    .layer-1 .col-4, .layer-1 .col-8 {
        width:50%;
    }
    .layer-1 .col-4 {
        display:flex;
        justify-content: center;
    }
    .information p, .information a {
        font-size:min(1.25em,3vw);
    }
    .col-8 .card-body {
        display: contents;
    }
    .card {
        align-items: center;
        padding:2.5vw;
    }
    .selection{
        margin:5px;
    }
}

@media only screen and (max-width: 400px) {
    .layer-2 .selection {
        display: flex;
        flex-direction: column;
    }
    .layer-2 .selection a, .layer-2 .selection p {
        width:100%;
    }
    .layer-2 a:hover {
        font-size:max(1.1em, 15px);
    }
}
