#pfp_bio{
    background-color:#273C4D;
    opacity: 0.6;
}

.image{
    height: auto;
    width: 100%;
    text-align:center;
}

h2{
  margin-top:50px;
  margin-bottom:50px;
}

.col-md img{
  height:auto;
  width:100%;
  margin-bottom:15px;
  border-radius:10px;
}

.col-md p{
  margin-bottom:100px;
}

#user-icon-setting {
  height: 80px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
}

#bio{
    display: inline-block;
    margin: auto;
    width: 80%;
    height: 50%;
    border: 2px solid black;
}