h2{
  margin-top:50px;
  margin-bottom:50px;
}

.image{
  text-align:center;
}

.col-md img{
  height:auto;
  width:100%;
  margin-bottom:15px;
  border-radius:10px;
}

.col-md p{
  margin-bottom:100px;
}

.teacher {
  text-align:center;
}

.teacher img{
  margin-bottom:100px;
}
.teacher p{
  margin-bottom:40px !important;
}
