#left-user {
  height: 100%;
  margin-bottom: 20px;
  border-radius: 15px 0 0 15px;
}

#right-user {
  height: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 0 30px 30px 0;
  border-width: 5px;
  border-style: solid;
  border-color: #212529;
}

#user-icon-setting {
  height: 200px;
  width: 200px;
  margin: 5px 0;
  border-radius: 50%;
}

.payment_exist {
  height: 600px;
}

.active-custom {
  background-color: #009DF8 !important;
  font-weight: bold;
}

.user-tip {
  margin-top: 40px;
}

.profile-icon {
  margin: 20px 0;
}

.submit-settings {
  float: right;
  width: 100px;
}

.profile-info {
  margin: 25px 0;
}

.margin-top {
  margin-top: 25px;
}

.margin-card {
  margin-top: 80px;
}

.margin-btm {
  margin-bottom: 5px;
}

.container_margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.profile-settings {
  margin: 0 10px;
}

.merge-boxes {
  padding-right: 0 !important;
  padding-left: 0 !important;

}

@media (max-width: 991px) {
  #left-user {
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
  }
  #right-user {
    border-radius: 0 0 10px 10px;
    margin-top: 0px;
  }
  .footer {
    margin-top: 5%;
  }
  #user-icon-setting {
    height: 150px;
    width: 150px;
  }
  .payment_exist {
    height: 100%;
  }
  .payment_card {
    margin: 10px 0;
  }
  .cc-table {
    margin-bottom: 10px;
  }
}

@media(max-width: 767px) {
  .image-center {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .profile-settings {
    margin: 0 0px !important;
  }
  #left-user {
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
  }
  #right-user {
    margin-left: 10px;
    margin-right: 10px;
  }
  #left-user {
    margin-left: 10px;
    margin-right: 10px;
  }
  .margin-top {
    margin-top: 10px;
  }
}

@media (max-width: 374px) {
  .text-responsive {
    width: 100% !important;
  }
  .margin-top {
    margin-top: 5px;
  }
  .margin-btm-text {
    margin-bottom: 20px;
  }
  .res_padding_remove {
    padding: 5px !important;
  }
}

.payment_logo {
  width: 50px;
  height: auto;
}

.form-buttons {
  display: inline-block;
}

@media (max-width: 500px) {
  .cc-table {
    white-space: nowrap;
  }
}

.cc-table {
  border: 2px solid #aaa;
  border-radius: 5px;
}

.wrapper {
  background-color: #212529;
  color: #FFF;
  width: 80%;
  height: 100%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 8px -4px #212529;
}
.wrapper h2 {
  margin-bottom: 50px;
}

.nav_buttons {
  display: inline-flexbox;
}

.nav_buttons a {
  float: left;
}

#anchor2 {
  display: none;
}

.nav_buttons button {
  float: right
}

@media (max-width: 450px) {
  .wrapper {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
  }
  .nav_buttons {
    display: box;
  }
  .nav_buttons a {
    float: none;
    width: 100%;
  }
  .nav_buttons button {
    float: none;
    max-width: 150px;
    margin: 30px 0;
  }
  #anchor1 {
    display: none;
  }
  #anchor2 {
    display: block;
  }
}
.cashout_button{
  margin-top:20px;
  width:max(20%, 120px);
  float:right;
  margin-left:auto;
}

.table_text {
  max-width: 180px;
}

.table_full_data_text {
  max-width: 200px;
}

.verified_email {
  color: #198754;
}

.verified_email:hover {
  text-decoration: none;
  color: #198754;
}

.not_verified_email {
  color: #dc3545;
}

.not_verified_email:hover {
  color: #dc3545;
}

.accepted_cards {
  text-align: right;
}

.tooltip_value {
  display: none;
}

.user_id_text {
  min-width: 200px;
}

.username_text, .profile_copy_text {
  color: #000;
}

#teacherBio {
  resize: vertical;
}

.cancleSaveBio {
  margin-right: 10px;
}

.users_profile {
	height: 40px;
	width: auto;
	border-radius: 50%;
}