#left-user {
  height: 100%;
  margin-bottom: 20px;
  background-color: #758bfd !important;
  border-radius: 15px 0 0 15px;
}

#right-user {
  height: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 0 30px 30px 0;
  border-width: 5px;
  border-style: solid;
  border-color: #758bfd;
}

#user-icon-setting {
  height: 200px;
  width: 200px;
  margin: 5px 0;
}

.payment_exist {
  height: 600px;
}

.active-custom {
  background-color: #75cffd !important;
  font-weight: bold;
}

.user-tip {
  margin-top: 40px;
}

.profile-icon {
  margin: 20px 0;
}

.submit-settings {
  float: right;
  width: 100px;
}

.profile-info {
  margin: 25px 0;
}

.margin-top {
  margin-top: 25px;
}

.margin-btm {
  margin-bottom: 5px;
}

.container_margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.profile-settings {
  margin: 0 10px;
}

.merge-boxes {
  padding-right: 0 !important;
  padding-left: 0 !important;

}

@media (max-width: 991px) {
  #left-user {
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
  }
  #right-user {
    border-radius: 0 0 10px 10px;
    margin-top: 0px;
  }
  .footer {
    margin-top: 5%;
  }
  #user-icon-setting {
    height: 150px;
    width: 150px;
  }
  .payment_exist {
    height: 100%;
  }
  .payment_card {
    margin: 10px 0;
  }
  .cc-table {
    margin-bottom: 10px;
  }
}

@media(max-width: 767px) {
  .image-center {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .profile-settings {
    margin: 0 0px !important;
  }
  #left-user {
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
  }
  #right-user {
    margin-left: 10px;
    margin-right: 10px;
  }
  #left-user {
    margin-left: 10px;
    margin-right: 10px;
  }
  .margin-top {
    margin-top: 10px;
  }
}

@media (max-width: 374px) {
  .text-responsive {
    width: 100% !important;
  }
  .margin-top {
    margin-top: 5px;
  }
}

#payment_logo {
  width: 35px;
  height: auto;
}

.form-buttons {
  display: inline-block;
}

@media (max-width: 500px) {
  .cc-table {
    white-space: nowrap;
  }
}

.cc-table {
  border: 2px solid #aaa;
  border-radius: 5px;
}