{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="static/styles/login_sign_up.css">{% endblock %}
{% block title %}Add a Payment Method | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if invalidCard %}
<div class="modal fade" id="invalidCardModal" tabindex="-1" aria-labelledby="invalidCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invalidCardModalLabel">Invalid Card!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Please enter a valid card or check your entries and try again.</h6>
                <h6>Do note that we only accept Visa or Mastercard as of now.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="LSUForm col">
            <div class="login-form bg-dark mt-4 p-4 rounded" id="userForm">
                <form action="" method="POST" class="row g-3">
                    <h4 class="text-white">Add a payment method</h4>
                    <div class="col-md-12 text-white">
                        {{ render_field(form.cardName, class="form-control", placeholder="John Doe") }}
                    </div>
                    <div class="col-md-12 text-white">
                        {{ render_field(form.cardNo, class="form-control", placeholder="4319531202151234") }}
                    </div>
                    <div class="col-md-6 text-white">
                        {{ render_field(form.cardExpiry, class="form-control") }}
                    </div>
                    <div class="col-md-6 text-white">
                        {{ render_field(form.cardCVV, class="form-control", placeholder="123") }}
                    </div>
                    <div class="col-md-12">
                        <a href="/user_profile" class="float-start text-white">Skip <i class="fas fa-arrow-right"></i></a>
                        <button type="submit" class="btn btn-colour text-white float-end">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% if invalidCard %}
        <script>
            var invalidCardModal = new bootstrap.Modal(document.getElementById('invalidCardModal'), {});
            invalidCardModal.show();
        </script>
    {% endif %}
{% endblock %}